<%=stylesheet_link_tag "whisper" %>

<div id="index" xmlns="http://www.w3.org/1999/html">
  <p>Jie Fan <span>A.K.A Tomato</span></p>

  <%= link_to '<div id="blog"></div>'.html_safe, blog_path %>
  <%= link_to '<div id="github"></div>'.html_safe, "https://www.github.com/lastomato" %>
  <%= link_to '<div id="mail"></div>'.html_safe, "mailto:ustc.flyingfox@gmail.com" %>
  <%= link_to '<div id="twitter"></div>'.html_safe, "https://www.twitter.com/lastomato" %>
  <%= link_to '<div id="renren"></div>'.html_safe, "http://www.renren.com/lastomato" %>
</div>

<%= javascript_include_tag "index" %>