<!DOCTYPE html>
<html>
<head>
  <title><%= "Whisper" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? && @blog %>
  <div id="nav">
    <div id="inner">
      <ul>
        <li><%= link_to "Index", root_path %></li>
        <li><%= link_to "Post", entry_new_path %></li>
        <li><%= link_to "Logout", logout_path %></li>
      </ul>
    </div>
  </div>
<% end %>

<div class="container">
  <%= yield %>
</div>

<% unless @index %>
    <div id="footer">
    <hr />
      <p>&copy; <span>Tomato</span> 2012</p>
    </div>
<% end %>

</body>
</html>
